alembic==1.13.1
annotated-types==0.7.0
anyio==4.4.0
api==0.0.7
attrs==23.2.0
bcrypt==4.1.2
bidict==0.23.1
blinker==1.8.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distro==1.9.0
dnspython==2.6.1
Flask==3.0.3
Flask-API==3.1
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-PyMongo==2.3.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
gunicorn==22.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.3
Mako==1.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
marshmallow-sqlalchemy==1.0.0
mdurl==0.1.2
nose==1.3.7
openai==1.37.1
OpenAIAuth==3.0.0
outcome==1.3.0.post0
packaging==24.0
prompt_toolkit==3.0.47
psycopg2==2.9.9
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
PyJWT==2.8.0
pymongo==4.8.0
PySocks==1.7.1
python-engineio==4.9.0
python-socketio==5.11.2
regex==2024.7.24
requests==2.32.3
revChatGPT==0.0.14
rich==13.7.1
selenium==4.23.1
simple-websocket==1.0.0
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.29
tiktoken==0.7.0
tls-client==1.0.1
tqdm==4.66.4
trio==0.26.0
trio-websocket==0.11.1
typing_extensions==4.11.0
undetected-chromedriver==3.5.5
undetected-edgedriver==3.1.6.4
urllib3==2.2.2
waitress==3.0.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wsproto==1.2.0
